<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header') %>
</head>

<body>

  <%- include('partials/nav', {page: "game"}) %>

<div class="container">
  <input style="display: none;" id="nickname" type="text" minlength="1" placeholder="Enter nickname and press enter" onkeydown="sendName(this)"/>
    <div >
      <canvas id="game" width="400px" height="400px"></canvas>
    </div>
</div>

<script src="/scripts/game.js" ></script>
</body>
</html>
